* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
header {
  padding: 10px;
  text-align: center;
  background: #d97584;
  color: #fff;
}
nav {
  display: flex;
  background-color: #f6ccda;
}
nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
}
aside {
  flex: 1;
  background-color: #f6ccda;
  padding: 30px;
  text-align: center;
  color: rgb(70, 70, 69);
}
aside p {
  font-style: italic;
}
.product_main {
  flex: 3;
  background-color: #f6ccda;
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
}
.card_main {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  /* flex: 0 0 200px; */
}

.card_main header {
  padding: 20px;
}

.card_main p {
  text-align: center;
}

.card_main img {
  width: 100%;
  /* height: 200px; */
}
footer {
  padding: 10px;
  text-align: center;
  background: #d97584;
  color: #fff;
}
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 200px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
